<div>
    {% assign skills = site.data.skills %}
    <h3 class="section-title">SKILLS</h3>

    {% for skill-cat in skills %}
        <div class="skill-category">
            <h3>{{ skill-cat[0] }}</h3>
            <ul class="skill-list">
                {% for skill in skill-cat[1] %}
                <li>
                    <div class="skill-block">
                        <div class="skill-name">{{ skill.name }}</div>
                        <div class="skill-container">
                            <div class="skill" style="width: {{ skill.score }};"></div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>