.row {
    position: relative;
    width   : 100%;
}

.row [class^="col"] {
    min-height: 0.125rem;
}

.col-1 {
    float           : left;
    width           : 24%;
    padding         : 0.2em;
    background-color: red;
}

.col-2 {
    float           : right;
    width           : 74%;
    padding         : 0.2em;
    background-color: green;
}