.row {
    position: relative;
    width   : 100%;
}

.row [class^="col"] {
    min-height: 0.125rem;
}

.col-1 {
    float           : left;
    width           : 25%;
    background-color: lightgrey
}

.col-2 {
    float           : right;
    width           : 74%;
    margin-left     : 1%;
    background-color: lighten($color: lightgrey, $amount: 10);
}

.top-banner {
    height: $spacing-unit * 4;
}

.contact-text {
    margin-top: $spacing-unit / 2;
    text-align: center;
}

.section-title {
    margin-top      : $spacing-unit / 2;
    text-align      : center;
    background-color: $that-orange;
}

.summary-text {
    margin: 2%;

    p {
        margin-bottom: 0.3em;
    }
}

.skill-list {
    display      : flow-root;
    list-style   : none;
    margin-left  : 0;
    margin-bottom: 1.5em;
}

.skill-name {
    margin-top : 2%;
    margin-left: 2%;
    font-size  : $small-font-size;
    float      : left;
    width      : 53%;
}

.skill-container {
    margin-top      : 2%;
    margin-right    : 2%;
    float           : right;
    width           : 43%;
    background-color: lighten($color: $that-orange, $amount: 18);
    border-radius   : 0.3em;

    .skill {
        padding-top     : 0.5em;
        padding-bottom  : 0.5em;
        background-color: $that-orange;
        border-radius   : 0.3em;
    }
}

.name {
    margin-top   : $spacing-unit / 2;
    margin-bottom: 0;
    text-align   : center;
}

.title {
    margin    : 0;
    text-align: center;
}