.row {
    position: relative;
    width   : 100%;
    display : table;
}

.row [class^="col"] {
    display       : table-cell;
    vertical-align: top;
}

.col-1 {
    width              : 25%;
    background-color   : lightgrey
}

.col-2 {
    width              : 74%;
    padding-left       : 1%;
    background-color   : whitesmoke;
}

.top-banner {
    height: $spacing-unit * 4;
}

.contact-text {
    margin-top: $spacing-unit / 2;
    text-align: center;
}

.section-title {
    margin-top      : $spacing-unit / 2;
    text-align      : center;
    color           : whitesmoke;
    background-color: $dark-red;
}

.summary-text {
    margin: 2%;

    p {
        margin-bottom: 0.3em;
    }
}

.skill-category {
    h3 {
        font-weight  : bold;
        margin-left  : 2%;
        margin-bottom: 0.3em;
    }
}

.skill-list {
    display      : flow-root;
    list-style   : none;
    margin-left  : 0;
    margin-bottom: 1.5em;
}

.skill-name {
    margin   : 2% 0 0 2%;
    font-size: $small-font-size;
    float    : left;
    width    : 53%;
}

.skill-container {
    margin          : 2% 2% 0 0;
    float           : right;
    width           : 43%;
    background-color: lighten($color: $dark-red, $amount: 53);
    border-radius   : 0.3em;

    .skill {
        padding         : 0.5em 0;
        background-color: $dark-red;
        border-radius   : 0.3em;
    }
}

.name {
    margin-top   : $spacing-unit / 2;
    margin-bottom: 0;
    color        : $dark-red;
    font-size    : $base-font-size * 2.5;
    font-weight  : bold;
    text-align   : center;
}

.title {
    margin    : 0;
    color     : darken($color: darkgray, $amount: 20);
    font-size : $base-font-size * 2;
    text-align: center;
}

.role {
    margin        : 0 0 0 1%;
    font-weight   : bold;
    text-transform: uppercase;
    float         : left;
}

.period {
    margin: 0 1% 0 0;
    float : right;
}

.company,
.institution {
    margin: 0 0 0.5em 1%;
    color : $dark-red;
    clear : both;
}

.achievements {
    list-style-type: square;
    margin         : 0 0 1.5em 2em;
}

.course {
    margin        : 0 0 0 1%;
    font-weight   : bold;
    text-transform: uppercase;
    float         : left;
}

.place {
    margin: 0 0 1em 1%;
}